[Unit]
Description=bBox Updater Service - keeps the bBox up to date
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=forking
ExecStartPre=curl --silent https://github.com/wogri/bbox/releases/download/stable/server -O /home/pi/ram/updater && chmod +x /home/pi/bOS/updater
ExecStart=/home/pi/bOS/updater
TimeoutSec=30
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
