[Unit]
Description=bBox Updater Service - keeps the bBox up to date
After=network.target
After=systemd-user-sessions.service
After=network-online.target
StartLimitBurst=5

[Service]
ExecStartPre=/usr/bin/curl -L https://github.com/btelemetry/bbox/releases/download/stable/updater --output /home/pi/bOS/updater 
ExecStartPre=/usr/bin/chmod +x /home/pi/bOS/updater
ExecStart=/home/pi/bOS/updater
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
