[Unit]
Description=bBox Server - bBox logic
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStartPre=/usr/bin/test -f /home/pi/bOS/server
ExecStart=/home/pi/bOS/server --http_server_port=80 --registration_id_file=/home/pi/.queensaver_registration_id
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
